# Копируйте в .env и заполните значения

# Telegram
BOT_TOKEN=
BOT_USERNAME=play_today_bot

# Firestore (при локальной разработке — credentials из Firebase Console)

# ЮKassa (тестовый режим)
# YOOKASSA_SHOP_ID — идентификатор магазина из личного кабинета ЮKassa (раздел Интеграция → API ключи)
# YOOKASSA_SECRET_KEY — секретный ключ для тестового магазина
YOOKASSA_SHOP_ID=1275545
YOOKASSA_SECRET_KEY=test_v9FEkk49rhg2I1lFYW9K0nENWrC1t0OGrqU7XfyeBbQ
